{% extends 'base.html' %}
{% block page_content %}

    <!-- Dashboard Page -->
    {% if fruit_list %}
        <h2>Fruits</h2>

        <section id="dashboard">
            <!-- Display a div "fruit" with information about each post (if any)-->

            {% for fruit in fruit_list %}
                <!-- first fruit -->
                <div class="fruit">
                    <!-- fruit image -->
                    <img src="{{ fruit.image_url }}" alt="{{ fruit.name }}"/>
                    <!-- fruit name -->
                    <h3 class="title">{{ fruit.name }}</h3>
                    <!-- fruit description -->
                    <p class="description">{{ fruit.description|truncatechars:50 }}</p>
                    <!-- fruit details button -->
                    <a class="details-btn" href="{% url 'fruit details page' fruitID=fruit.id %}">More Info</a>
                </div>
            {% endfor %}


        </section>
    {% else %}
        <!-- Display a heading if there are no posts -->
        <h2>No fruit info yet.</h2>
    {% endif %}
{% endblock %}