{% extends 'base.html' %}
{% block page_content %}
    <!-- edit game form -->
    <section id="delete-page" class="auth">
        <form id="delete" method="post" action="{% url 'game delete' pk=game.pk %}">
            <div class="container">

                <h1>Delete Game</h1>

                {{ form }}

                <!-- >  Button Delete-->
                <input class="btn submit" type="submit" value="Delete Game">
                {% csrf_token %}
            </div>
        </form>
    </section>

{% endblock %}