{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <!--Create Page-->
    <section class="createPage">
        <form method="post" action="{% url 'add album' %}">
            <fieldset>
                <legend>Add Album</legend>
                {{ form }}
                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Add New Album</button>
                {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}