{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <!-- Catalog with Albums-->
    <section id="catalogPage">

        {% if albums %}
            <!-- If albums in catalog -->
            <h1>All Albums</h1>
            <!-- Card-Box in catalog -->
            {% for album in albums %}
                <div class="card-box">
                    <img src="{{ album.image_url }}" alt="Cover Image">
                    <div>
                        <div class="text-center">
                            <p class="name">Name: {{ album.album_name }}</p>
                            <p class="artist">Artist: {{ album.artist }}</p>
                            <p class="genre">Genre: {{ album.genre }}</p>
                            <p class="price">Price: ${{ album.price|floatformat:2 }}</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'details album' pk=album.pk %}">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--  Card-Box in catalog -->
        {% else %}
            <!--  If No albums in catalog -->
            <p>No Albums in Catalog!</p>
        {% endif %}
    </section>
{% endblock %}