{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>My Music App</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<div id="box">

    <!-- Navigation Bar -->
    <header>
        <nav>
            <img src="{% static 'images/headphones.png' %}" alt="headphones">
            <a href="{% url 'home page' %}">Home</a>
            <ul>
                {% if not not_registered_user %}
                    <!--Only for user with created profile-->
                    <li><a href="{% url 'album add page' %}">Create Album</a></li>
                    <li><a href="{% url 'profile details page' %}">Profile</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <!-- End Navigation Bar -->

    <!-- Main Content -->
    {% block page_content %}

    {% endblock %}
    <!-- Footer -->
    <footer>
        <div>
            &copy;SoftUni Team 2023. All rights reserved.
        </div>
    </footer>
    <!-- End Footer -->

</div>
</body>
</html>