{% extends 'base.html' %}
{% block page_content %}

    <!-- details section -->
    <section id="car-details">
        <h1>Car Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- car image -->
                <img class="car-img"
                     src="{{ car_data.image_url }}" alt='car image'/>
                <!-- type and model -->
                <h1>{{ car_data.car_type }}</h1>
                <!-- car model -->
                <p><span class="description">Model: {{ car_data.car_model }}</span></p>
                <!-- car year -->
                <p><span class="description">Year: {{ car_data.year }}</span></p>
                <!-- car price -->
                <p><span class="description">Price: {{ car_data.price|floatformat:3 }}</span></p>
            </div>


            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'car edit page' pk=car_data.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'car delete page' pk=car_data.pk %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>

{% endblock %}