{% extends 'base.html' %}
{% block page_content %}
    <section id="create-page" class="auth">

        <div class="container">
            <h1>Are you sure you want to delete your profile?</h1>
            <!-- Delete Profile Form -->
            <form id='delete' method="post" action="{% url 'profile delete page' %}">

                <!-- Confirm Button -->
                {{ form }}
                <input class="btn submit" type="submit" value="Yes">
                {% csrf_token %}
            </form>
        </div>
        <!-- End Delete Profile Form -->
    </section>

{% endblock %}